body {
  margin: 0px;
  height: 100%;
  width: 100%;
}

* { box-sizing: border-box; }

#scene {
  width: 200px;
  height: 200px;
  border: 1px solid #CCC;
  margin-top: 300px;
  margin-left: 300px;
  perspective: 400px;
}

.cube {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform 1s;
}

.cube.show-front  { transform: translateZ(-100px) rotateY(   0deg); }
.cube.show-right  { transform: translateZ(-100px) rotateY( -90deg); }
.cube.show-back   { transform: translateZ(-100px) rotateY(-180deg); }
.cube.show-left   { transform: translateZ(-100px) rotateY(  90deg); }
.cube.show-top    { transform: translateZ(-100px) rotateX( -90deg); }
.cube.show-bottom { transform: translateZ(-100px) rotateX(  90deg); }

.cubeFace {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 2px solid black;
  line-height: 200px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
}

#cubeFaceFront  { background: hsla(  0, 100%, 50%, 0.7); }
#cubeFaceRight  { background: hsla( 60, 100%, 50%, 0.7); }
#cubeFaceBack   { background: hsla(120, 100%, 50%, 0.7); }
#cubeFaceLeft   { background: hsla(180, 100%, 50%, 0.7); }
#cubeFaceTop    { background: hsla(240, 100%, 50%, 0.7); }
#cubeFaceBottom { background: hsla(300, 100%, 50%, 0.7); }

#cubeFaceFront  { transform: rotateY(  0deg) translateZ(100px); }
#cubeFaceRight  { transform: rotateY( 90deg) translateZ(100px); }
#cubeFaceBack   { transform: rotateY(180deg) translateZ(100px); }
#cubeFaceLeft   { transform: rotateY(-90deg) translateZ(100px); }
#cubeFaceTop    { transform: rotateX( 90deg) translateZ(100px); }
#cubeFaceBottom { transform: rotateX(-90deg) translateZ(100px); }

label { margin-right: 10px; }

#selector {
  margin-left: 100px;
  margin-top: 50px;
}